body {
  background-color: #fff;
}

.navbar {
  background-color: #1658A6;
  margin-bottom: 0;
  border-radius: .5em;
}

.navbar-inverse {
  border-color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.row.content {
  height: 450px
}

.sidenav {
  padding-top: 20px;
  height: 100%;
}

.sidenav .left {
  border-left-color: black;
  border-left: 2px;
}

.sidenav .right {
  border-right-color: black;
  border-right: 2px;
}

img {
  margin-top: 3px;
  float: left;
}

/* footer {
  background-color: #555;
  color: white;
  padding: 15px;
} */

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.sidenav h1 {
  font-size: 20px;
}
